@using DataModels.Models
@model ClientViewModel

@{
    ViewBag.Title = "Create Workout";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div>
    <h1 style="color: cadetblue; font-size: 30px; text-decoration: underline;">Client Name: @Model.ClientName</h1>
</div>
<br />

<table>
    <form method="post">
        <div>
            <label asp-for="@Model.WorkoutPlan" class="form-label" style="font-size: 20px;" >Create Workout:</label>
            <textarea asp-for="@Model.WorkoutPlan" class="form-control" aria-required="true" rows="10" cols="30"></textarea>
            <span asp-validation-for="WorkoutPlan" class="text-danger"></span>
        </div>

        <div class="btn-group">
            <input asp-route-clientId="@Model.Id" class="btn btn-success" asp-controller="Trainers"  asp-action="SaveWorkout" type="submit" value="Save Workout" />
        </div>
    </form>
</table>
