@using DataModels.Models
@model IEnumerable<ClientViewModel>

@{
    ViewBag.Title = "Clients' Requests";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var client in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <br>Client's Full Name:<br>
                <p class="mb-0" style="border-style: double;">@client.ClientName</p>
                <hr />
                <br>Age:<br>
                <p class="mb-0">@client.Age</p>
                <hr />
                <br>Email:<br>
                <p class="mb-0">@client.Email</p>
                <hr />
                 <br>Weight:<br>
                <p class="mb-0">@client.Weight</p>
                <hr />
                <br>Height:<br>
                <p class="mb-0">@client.Height</p>
                <hr />
            </div>
            <hr />
            @*<div style="width: 30rem;">
                <a asp-controller="AdminMailbox" asp-action="MoveToJunk" asp-route-applicationId="@application.Id" class="btn btn-danger mb-3">Move To Junk</a>
            </div>*@
        </div>
    }
</div>