@using DataModels.Models
@model IEnumerable<ClientViewModel>

@{
    ViewBag.Title = "Check Your Clients";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var client in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <br>Client's Full Name:<br>
                <p class="mb-0" style="border-style: double;">@client.ClientName</p>
                <hr />
                <br>Age:<br>
                <p class="mb-0">@client.Age</p>
                <hr />
                <br>Email:<br>
                <p class="mb-0">@client.Email</p>
                <hr />
                 <br>Weight:<br>
                <p class="mb-0">@client.Weight</p>
                <hr />
                <br>Height:<br>
                <p class="mb-0">@client.Height</p>
                <hr />
                <br>Sport:<br>
                <p class="mb-0">@client.TypeOfSport</p>
                <hr />
                <br>Workout Plan:<br>
                <p class="mb-0">@client.WorkoutPlan</p>
            </div>
            <hr />
            <div class="btn-group">
                <a asp-controller="Trainers" asp-action="CreateWorkout" asp-route-clientId="@client.Id" class="btn btn-info mb-3">Create Workout</a>
                <a asp-controller="Trainers" asp-action="DeleteClient" asp-route-clientId="@client.Id" class="btn btn-danger mb-3">Delete Client</a>
            </div>
        </div>
    }
</div>
