@using DataModels.Models
@model IEnumerable<RoleToUserViewModel>
@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
        @foreach(var user in Model)
        {   
            <div class="card col-4" style="width: 20rem; margin-right: 10px; margin: 5px">
                <p><h5>User ID:</h5>@user.Id</p>
                <p><h5>Username:</h5>@user.UserName</p>
                <hr />
                <p><h5>Full Name:</h5>@user.FullName</p>
                <hr />
                <p><h5>Email:</h5>@user.Email</p>
                <hr />
                <h5>Roles:</h5>
                    @foreach(var role in user.Roles)
                    {
                        <text>| @role | </text>
                    }
                
                 <a class="btn btn-sm btn-primary" asp-controller="Admin"  asp-action="EditUser" asp-route-userId="@user.Id">Update</a>
                 <a class="btn btn-sm btn-danger" asp-controller="Admin"  asp-action="DeleteUser" asp-route-userId="@user.Id">Delete</a>
                 <hr />
           </div>
        }
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}