@using DataModels.Models
@model AdminMailboxViewModel

@{
    ViewBag.Title = "Administration Mailbox";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var application in Model.Applications)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">

                <p class="mb-0">Applicant Name: @application.Name</p>
                <p class="mb-0">Email: @application.Email</p>
                <p class="mb-0">Telephone: @application.Telephone</p>
                <h5>Motivational Letter:</h5>
                <text class="mb-0">Email: @application.Description</text>
            </div>
        </div>
    }
</div>
