@using DataModels.Models
@model IEnumerable<ExerciseViewModel>

@{
    ViewBag.Title = "All Exercises";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var exercise in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@exercise.ImageUrl" alt="Exercise Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@exercise.Name</h5>
                <hr />
                <text>@exercise.PartialDescription</text>
            </div>
            <form class="input-group-sm" asp-controller="Exercise" asp-action="GetExercise" asp-route-exerciseId="@exercise.Id">
                <input type="submit" value="Check More Here" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            @if (User?.IsInRole("Writer") ?? false)
            {
                <a asp-area="Writer" asp-controller="Writer" asp-action="DeleteExercise" asp-route-exerciseId="@exercise.Id" class="btn btn-danger mb-3">Delete</a>
            }
        </div>
    }
</div>

@if (User?.IsInRole("Writer") ?? false)
{
    <br/>
    <div>
        <a asp-area="Writer" asp-controller="Writer" asp-action="AddExercise" class="btn btn-primary mb-3">Add New Exercise</a>
    </div>
}

