@using DataModels.Models
@model UpdateMyProfileViewModel

@{
    ViewBag.Title = "Update Your Profile";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="UpdateMyProfile">
            <div class="mb-3">
                <label asp-for="@Model.Age" class="form-label">Age</label>
                <input asp-for="@Model.Age" class="form-control" aria-required="true" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Weight" class="form-label">Weight</label>
                <input asp-for="@Model.Weight" class="form-control" aria-required="true" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Height" class="form-label">Height</label>
                <input asp-for="@Model.Height" class="form-control" aria-required="true" />
            </div>
             <div class="mb-3">
                <label asp-for="@Model.SetGoals" class="form-label">Set Goals</label>
                <input asp-for="@Model.SetGoals" class="form-control" aria-required="true" />
            </div>
             <div class="mb-3">
                <label asp-for="@Model.TypeOfSportId" class="form-label">TypeOf Sport</label>
                <select asp-for="@Model.TypeOfSportId" class="form-control">
                    @foreach (var sport in Model.TypeOfSports)
                    {
                        <option value="@sport.Id">@sport.Name</option>
                    }
                 </select>
                 <span asp-validation-for="TypeOfSportId" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Notes" class="form-label">Fitness Diary</label>
                <input asp-for="@Model.Notes" class="form-control" aria-required="true" />
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
