@using DataModels.Models
@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "All Posts";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var post in Model)
    {
        <div class="card col-4" style="width: 20rem; margin-right: 20px;">
            <div class="card-body">

                <h5 class="card-title mt-1">@post.Title</h5>
                <p class="mb-0">Published On: @post.DatePublishedOn</p>
                <hr />
                <p class="mb-0">@post.Text</p>
            </div>

            @if (User?.IsInRole("Writer") ?? false)
            {
                <div class="nav-item">
                    <a class="fs-6 btn btn-danger mb-3 p-2" asp-area="Writer" asp-controller="Writer" asp-action="DeletePost" asp-route-postId="@post.Id">Delete</a>
                </div>
            }

            <form class="input-group-sm" asp-controller="Post" asp-action="GetFullPost" asp-route-postId="@post.Id">
                <input type="submit" value="Read More" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
        <br>
        <br>
    }
</div>
